{% extends 'layout.html.twig' %}

{% set active = 'disciplinas' %}

{% block content %}
    <h1>{{ 'Adicionar Disciplina'|trans }}</h1>
    <a href="{{url('disciplinas')}}">
      <button type="button" class="btn btn-info" style="margin-bottom:16px;">
        <span class="glyphicon glyphicon glyphicon-arrow-left"></span> Voltar
      </button>
    </a>
    {{ form(form, { attr: { novalidate: true } }) }}
{% endblock %}
